.body
{
    display: flex;
}

.team_official_info
{
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(12, 11, 11);
    font-family: 'Times New Roman', Times, serif;
}

.batters
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.batter
{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

.all-rounders
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.all-rounder
{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

.bowlers
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.bowler
{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

.team
{
    flex-direction: column;
}

h1
{
    padding: 10px;
    text-align: center;
    background-color: #0a013c;
    color: aliceblue;
}

h2
{
    padding: 5px;
    background-color: #19398a;
    color: aliceblue;
}

*{
    background-color: rgb(186, 220, 226);
}